name = "cloudflare-docker-proxy"
compatibility_date = "2023-12-01"

[dev]
ip = "0.0.0.0"
port = 8787
local_protocol = "http"

[env.vars]
CUSTOM_DOMAIN = "my-studio.net"

[env.dev.vars]
MODE = "debug"
TARGET_UPSTREAM = "https://registry-1.docker.io"
CUSTOM_DOMAIN = "exmaple.com"

[env.production]
name = "cloudflare-docker-proxy"
routes = [
   { pattern = "docker.my-studio.net", custom_domain = true },
   { pattern = "quay.my-studio.net", custom_domain = true },
   { pattern = "gcr.my-studio.net", custom_domain = true },
   { pattern = "k8s-gcr.my-studio.net", custom_domain = true },
   { pattern = "k8s.my-studio.net", custom_domain = true },
   { pattern = "ghcr.my-studio.net", custom_domain = true },
   { pattern = "cloudsmith.my-studio.net", custom_domain = true },
]

[env.production.vars]
MODE = "production"
TARGET_UPSTREAM = ""

[env.staging]
name = "cloudflare-docker-proxy-staging"
route = { pattern = "docker-staging.my-studio.net", custom_domain = true }

[env.staging.vars]
MODE = "staging"
TARGET_UPSTREAM = ""
